.flex-centered {
    display: flex;
    justify-content: center;
    margin-top: 152px;

    @media(max-width:768px) {
        margin-top: 78px;
    }
}

.flex-wrap {
    display: flex;

    width: 100%;

    &.flex-wrap-col {
        flex-direction: column;
    }
}


.full-width {
    width: 100%;
}