@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
:root {
    --base-font: 16px;
    --font-size-md: 24px;
    --white: #FFFFFF;
    --gray-outline: #EDEDED;
    --gray-input: #AFAFAF;
    --primary-color: #09032F;
    --primary-font: 'Inter', sans-serif;
    --box-shadow-v1: 0px 24.4561px 29.2013px rgba(0, 0, 0, 0.0259551), 0px 11.873px 14.1767px rgba(0, 0, 0, 0.0279269), 0px 5.82036px 6.94968px rgba(0, 0, 0, 0.0351747);
    --border-radius: 8px;
    --border-radius-lg: 24px;
    --header-height:114px;
  }