.main-head{
    position: relative;
    display: flex;
    align-content: center;
    display:flex;
    align-self: flex-start;
    width:100%;
    justify-content: center;
    padding:40px 30px;
    
}